.image-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.733), rgba(0, 0, 0, 0.068)), url('./img/bg.webp');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}

.image-container h1 {
    font-size: 8vw;

}

.btn-primary {
    background-image: linear-gradient(45deg, #fd267a, #ff6036);
    border: none;
    padding: 0.2rem 4rem;
    min-height: 3rem;
    border-radius: 20px;
    font-weight: 700;
    color: #fff;


}

.btn-primary:hover {
    background-image: linear-gradient(45deg, #fd2678e8, #ff6236ea);
}

.logo-img {
    width: 80px;
}

.card-comma {
    opacity: 20%;
    margin-top: -50%;
}